<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href= {{url_for('static', filename='css/materialize.css')}}  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href= {{url_for('static', filename='css/custom.css')}}  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div class = "shadow"></div>
<div class = "modal">
	<table class=" bordered centered responsive-table tablesorter">
<tr>
 <thead>
<th>Name</th>
<th>Time(min)</th>
<th>Last Used</th>
 <thead>
</tr>
 <tbody id ="modal_table">
</tbody>

	</table>

</div>
<div class="row">
<div class ="col s8 offset-s2">
<div class="card-panel #f1f8e9 light-green lighten-5">
<table class=" bordered centered responsive-table tablesorter">
        <thead>
          <tr>
              <th data-field="id" id ="date">Date</th>
              <th data-field="food_app">Food_app</th>
              <th data-field="text_app">Text_app</th>
              <th data-field="cab_app">Cab_app</th>
              <th data-field="call_app">Call_app</th>
              <th data-field="social_app">Social_app</th>
              <th class= "total">Total</th>
          </tr>
        </thead>
        <tbody>
{% for year, data in appinfo.items() %}
  {% for month, m_data in data.items() %}
    {% for day, d_data in m_data.items() %}
    {%if (month+day)|int < 0512%}
          <tr>
            <td>{{day}}/{{ month }}/{{year}}</td>
            <td>{{d_data.get('food_app',0)}} </td>
            <td>{{d_data.get('text_app',0)}}</td>
            <td>{{d_data.get('cab_app',0)}} </td>
            <td>{{d_data.get('call_app',0)}}</td>
            <td>{{d_data.get('social_app',0)}}</td>
            <td class ="total-val"></td>
          </tr>
     {% endif %}
  {% endfor %}
  {% endfor %}
  {% endfor %}
          </tbody>
          </table>
          </div>
          </div>
          </div>
</body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src=  {{url_for('static', filename='js/jquery-2.1.1.min.js')}} ></script>
      <script type="text/javascript" src=  {{url_for('static', filename='js/materialize.min.js')}} ></script>
      <script type="text/javascript" src=  {{url_for('static', filename='js/jquery.tablesorter.js')}} ></script>
      <script>
      $('th').click(function (){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {

        var valA = getCellValue(a, index), valB = getCellValue(b, index)
		if (index == 0){
			valA = valA.split("/").reverse().join()
			valB = valB.split("/").reverse().join()
			console.log(valA);
			console.log(valB);
			}
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
$( document ).ready(function() {
  // Handler for .ready() called.
    var table = $("#date").parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($("#date").index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
	total();
});
// $(document).click(function(event) {
//     if(!$(event.target).closest('.modal').length &&
//        !$(event.target).is('.modal')) {
//         if($('.modal').is(":visible")) {
//             $('.modal').hide();
//         }
//     }
// })
$('.shadow').click(function(){
	$(this).hide();
	$(".modal").hide();
});
$('td').click(function(){
	console.log("just got clicked");
if ($(this).html()!=0 && $(this).attr("class") !="total-val" && $(this).index()!=0){
	console.log($(this).index());
	var index = $(this).index();
	var date = $.trim($(this).parents('tr').first().text().split('\n')[1]);
	console.log($.trim($(this).parents('tr').first().text().split('\n')[1]));
	$.ajax({
  method: "POST",
  url: "/moredetails",
  contentType: 'application/json;charset=UTF-8',
  data: JSON.stringify({ date: date, index: index })
})
  .done(function( msg ) {
  	// m = JSON.load(msg);
  	var parsed_data = JSON.parse(msg);
  	console.log(parsed_data['used_app']);
  	for (var i =0; i<parsed_data['used_app'].length; i++){
  		if (parsed_data.used_app[i].Foreground !=0){
  		console.log(parsed_data.used_app[i].Foreground);
  		var row ="";
  		   for (var i = 0; i < parsed_data['used_app'].length; i++) {
                    if (parsed_data.used_app[i].Foreground != 0) {
                        console.log(parsed_data.used_app[i].Foreground);
                        row += "<tr><td>" + parsed_data.used_app[i].Name + "</td><td>"+
                        parsed_data.used_app[i].Foreground +"</td><td>"+
                        parsed_data.used_app[i].Last_time.split(" ")[1]+" "+parsed_data.used_app[i].Last_time.split(" ")[2] +"</td></tr>";
                        
                    }
                }$("#modal_table").html(row);
  	}
  	}
    $(".shadow").show();
	$(".modal").show();

    // $("#modal_table").html()

  });}
});
function total(){
    $('tr').each(function () {
        //the value of sum needs to be reset for each row, so it has to be set inside the row loop
        var sum = 0
        //find the combat elements in the current row and sum it
        $(this).find('td').each(function () {
            var combat = $(this).text();

            if (!isNaN(combat) && combat.length !== 0) {
                sum += parseFloat(combat);
            }
        });
        //set the value of currents rows sum to the total-combat element in the current row
        $('.total-val', this).html(sum);
    });
}
      </script>
    </body>
  </html>